@import 'mixins/breakpoints';
@import 'mixins/styles';
@import 'variables/colors';
@import 'variables/styles';
@import 'variables/font';

* {
  box-sizing: border-box;
  font-family: $font-family;
}

html {
  font-size: $font-size;
  color: $black;
  line-height: 1.5em;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: $body;
}

.content {
  margin: 0 auto;
  max-width: 100em;
  background-color: $content;
  padding: 1em;
}

.component {
  padding: 1em 0;

  > div {
    margin-bottom: 1em;
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  padding-top: 0;
  color: $heading;
}

h1 {
  font-size: 2em;
  padding-bottom: .2em;
  border-bottom: 1px solid $heading-border;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

hr {
  margin: 1em 0;
  border: 0;
  border-bottom: 1px solid $horizontal-rule;
}

p {
  margin: 0 0 1em;
}

fieldset {
  margin: 0;
  padding: 1em 0;
  border: 0;
  min-width: 0;
}

a {
  color: $link;
  text-decoration: none;
  transition: color .25s, text-decoration 25s;

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }

  &.button {
    display: inline-block;
    border: 0;
    border-radius: 0;
    font-size: 1.2em;
    padding: .5em .75em;
    margin-bottom: 1em;
    color: $button-font;
    background-color: $button-background;
    transition: background-color .25s, color .25s, border-color .25s;

    &:hover {
      text-decoration: none;
      color: $button-hover-font;
      background-color: $button-hover-background;
      cursor: pointer;
    }

    &:disabled {
      display: none;
    }
  }

  &.button-secondary {
    color: $button-secondary-font;
    background-color: $button-secondary-background;

    &:hover {
      color: $button-secondary-hover-font;
      background-color: $button-secondary-hover-background;
    }
  }

  &.button-right,
  &.link-right {
    float: right;
  }

  &.menu-arrow {
    &:hover {
      cursor: pointer;
    }

    &.active {
      .label {
        &::after {
          transform: rotate(270deg);

        }
      }
    }

    .label {
      &::after {
        content: '\203A';
        position: absolute;
        transform: rotate(90deg);
        transition: transform .25s;
        font-size: 1.5em;
        right: .5em;
        top: .25em;
      }
    }
  }

  &.accordion-link {
    display: inline-block;
    margin-bottom: 1em;
    position: relative;

    &:hover {
      text-decoration: none;
    }

    .label {
      &::after {
        content: '\203A';
        display: inline-block;
        font-size: 1.3em;
        margin-left: .5em;
        transition: transform .25s;
      }
    }

    + div {
      display: none;
      margin: 0;
      margin-left: 1em;
    }

    &.active {
      .label {
        &::after {
          transform: rotate(90deg);
        }
      }

      + div {
        display: block;
        margin-bottom: 1em;
      }
    }
  }
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  &.bullets,
  &.disc {
    list-style-type: disc;
    margin-left: 2em;
    margin-bottom: 1em;
  }
}

button {
  display: block;
  border: 0;
  border-radius: 0;
  font-size: 1.2em;
  padding: .5em .75em;
  margin-bottom: 1em;
  color: $button-font;
  background-color: $button-background;
  transition: background-color .25s, color .25s, border-color .25s;

  &:hover {
    cursor: pointer;
    color: $button-hover-font;
    background-color: $button-hover-background;
  }

  &:focus,
  &:active {
    box-shadow: none;
    background-image: none;
    outline: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:disabled {
    display: none !important; /* sass-lint:disable-line no-important*/
  }

  &.button-secondary {
    color: $button-secondary-font;
    background-color: $button-secondary-background;

    &:hover {
      color: $button-secondary-hover-font;
      background-color: $button-secondary-hover-background;
    }
  }

  &.button-right {
    float: right;
  }
}

label {
  display: block;
  margin-bottom: 1em;
}

input {
  &[readonly] {
    background-color: $lightgray;
  }

  &[type='email'],
  &[type='password'],
  &[type='search'],
  &[type='tel'],
  &[type='text'] {
    display: block;
    padding: .5em;
    margin-bottom: 1em;
    border: 1px solid $gray;
    min-width: 20em;

    &[maxlength='2'] {
      min-width: 2.5em;
      width: 2.5em;
    }

    &.qty {
      min-width: 3.25em;
      width: 3.25em;
      text-align: center;
    }

    &[maxlength='5'] {
      min-width: 4.25em;
      width: 4.25em;
    }

    &.validation-failed {
      box-shadow: 0 0 2px $red;
      border-color: $red;
      margin-bottom: 0;
    }

    &:focus {
      &.validation-failed {
        box-shadow: 0 0 2px $red;
        border-color: $red;
        margin-bottom: 0;
      }
    }
  }

  &[type='search'] {
    width: 100%;
  }

  &[type='number'] {
    display: inline-block;
  }

  &[type='checkbox'],
  &[type='radio'] {
    display: none;

    .dialog & {
      display: inline-block;
    }

    + label {
      position: relative;
      margin-top: 1em;

      &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        box-shadow: 0 0 2px $black;
        background-color: $white;
      }


    }
  }

  &[type='checkbox'] {
    &:checked {
      + label {
        &::before {
          content: '\2713';
        }
      }
    }

    + label {
      margin-left: 1.8em;

      &::before {
        border-radius: 2px;
        color: $checkbox-radio;
        font-size: 1.7em;
        font-weight: bold;
        line-height: .5em;
        left: -1.05em;
        width: .7em;
        max-width: .7em;
        height: .7em;
        max-height: .7em;
      }
    }
  }

  &[type='radio'] {
    + label {
      margin-left: 1.5em;

      &::before {
        content: '';
        border-radius: 50%;
        box-sizing: border-box;
        border: .2em solid $white;
        width: 1em;
        height: 1em;
        top: 0;
        left: -1.5em;
      }
    }

    &:checked {
      + label {
        &::before {
          background-color: $checkbox-radio;
        }
      }
    }
  }
}

.image-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;

  > label {
    flex: 1 1 24em;

    img {
      max-height: 100px;
      border: 1px solid $lightgray;
      padding: .5em;
    }
  }

  input {
    &[type='radio'] {
      + label {
        display: inline-block;

        &::before {
          content: none;
        }

        &:hover {
          cursor: pointer;

          > img {
            border-color: $link-hover;
          }
        }

        > img {
          pointer-events: none;
          margin-bottom: 0;
        }
      }

      &:checked {
        + label {
          > img {
            border-color: $link-hover;
          }
        }
      }
    }
  }
}

textarea {
  display: block;
  padding: .5em;
  margin-bottom: 1em;
  border: 1px solid $gray;
  min-width: 20em;
}

select {
  border: 1px solid $gray;
  padding: .5em;
  margin-bottom: 1em;
  max-width: 100%;
  min-width: 20em;

  &.validation-failed {
    box-shadow: 0 0 2px $red;
    border-color: $red;
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0 auto;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic;  /* IE (non-standard property) */
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th,
  td {
    text-align: left;
    padding: .5em 0 .5em 1em;

    &.a-center {
      text-align: center;
    }

    &.a-right {
      text-align: right;
    }
  }

  &.data-table {
    margin-bottom: 1em;

    th,
    td {
      border-bottom: 1px solid $border-dark;
    }

    th {
      background-color: $table-data-heading-background;
      color: $table-data-heading-font;
      text-transform: uppercase;
    }
  }
}

address {
  font-style: normal;
}

.please-wait {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1em;
  background-color: $white;
  box-shadow: 0 0 5px $darkgray;
  border: 1px solid $gray;
  border-radius: 5px;
  text-align: center;

  img {
    display: block;
  }
}

.tool-tip {
  border: 1px solid $tooltip-border;
  background-color: $tooltip-background;
  padding: .5em;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  top: auto;
  box-shadow: 0 0 5px $tooltip-border;

  &.active {
    display: block;
  }

  &#payment-tool-tip {
    .btn-close {
      font-size: 1em;
      right: 1em;
    }
  }

  .btn-close {
    position: absolute;
    right: .5em;
    top: 0;
    font-size: 2em;

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .tool-tip-content {
    padding: .5em;
  }
}

.disclaimer {
  &::after {
    @include clearfix;
  }

  > div {
    font-size: .9em;
    color: $disclaimer;

    &[class*='col-'] {
      padding: 2.2em 1.1em;
    }
  }
}

@include breakpoint(lg-md) {
  a {
    &.menu-arrow {

      &:hover {
        .label {
          &::after {
            transform: rotate(270deg);
            transition: transform .25s;
          }
        }
      }
    }
  }
}

@include breakpoint(md-sm-xs) {
  input {
    &[type='email'],
    &[type='password'],
    &[type='search'],
    &[type='tel'],
    &[type='text'] {
      font-size: inherit;
    }
  }

  textarea,
  select {
    font-size: inherit;
  }
}

@include breakpoint(sm-xs) {
  input {
    &[type='email'],
    &[type='password'],
    &[type='search'],
    &[type='tel'],
    &[type='text'] {
      min-width: 100%;
      padding: .75em .5em;
    }
  }

  textarea {
    min-width: 100%;
  }

  select {
    min-width: 100%;
    padding: .75em .5em;
  }
}

@include breakpoint(xs-only) {
  table {
    &.data-table {
      display: block;
      overflow-x: scroll;
    }
  }
}
