/* Default colors to be overidden by vendor-specifics */
$black: #181717 !default;
$darkgray: #777679 !default;
$gray: #cdcac9 !default;
$lightgray: lighten($gray, 10%) !default;
$white: #fff !default;
$darkwhite: darken($white, 5%) !default;
$red: #8a2432 !default;
$orange: #f7941d !default;
$yellow: #ffc858 !default;
$blue: #005089 !default;
$lightblue: #0099d6 !default;
$darkgreen: #3b702b !default;
$green: #6cb33f !default;
$lightgreen: #bad982 !default;
