/*
  Page Element Color Variables
  Theoreticaly, a theme need only overwrite these colors to be customized.

  If copy/pasting, remove the !default.
*/

$header-background: $white !default;
$header-bottom-border: $lightgray !default;
$header-skiplink: $darkgray !default;
$header-skiplink-hover: $orange !default;
$header-skiplink-border-hover: $orange !default;

$body: $lightgray !default;
$content: $white !default;
$content-border: $darkgray !default;

$cms-home-hero-banner-background: $green !default;
$cms-home-hero-banner-font: $white !default;
$cms-home-hero-button-background: $blue !default;
$cms-home-hero-button-font: $white !default;
$cms-home-hero-button-hover-background: $white !default;
$cms-home-hero-button-hover-font: $blue !default;

$sidebar-filter-heading-background: $blue !default;
$sidebar-filter-heading: $white !default;
$sidebar-filter-title: $blue !default;

$footer-background: $lightgray !default;
$footer-heading: $darkgray !default;
$footer-link: $darkgray !default;
$footer-link-hover: $darkgray !default;
$footer-font: $darkgray !default;
$footer-border: $darkgray !default;

$heading: $darkgray !default;
$heading-border: $darkgray !default;

$horizontal-rule: $gray !default;

$border: $gray !default;
$border-dark: $darkgray !default;
$border-light: $lightgray !default;

$tooltip-background: $white !default;
$tooltip-border: $black !default;

$disclaimer: $darkgray !default;

$link: $blue !default;
$link-hover: $lightblue !default;

$button-background: $green !default;
$button-font: $white !default;
$button-hover-background: $darkgreen !default;
$button-hover-font: $white !default;

$button-secondary-background: $gray !default;
$button-secondary-font: $white !default;
$button-secondary-hover-background: $green !default;
$button-secondary-hover-font: $white !default;

$button-cta-background: $orange !default;
$button-cta-font: $white !default;
$button-cta-hover-background: $white !default;
$button-cta-hover-font: $orange !default;
$button-cta-hover-border: transparent !default;

$button-product-background: $green !default;
$button-product-font: $white !default;
$button-product-hover-background: $darkgreen !default;
$button-product-hover-font: $white !default;

$checkbox-radio: $green !default;

$table-data-heading-background: $white !default;
$table-data-heading-font: $darkgray !default;

$checkout-number-icon-background: $orange !default;
$checkout-number-icon-font: $white !default;

$checkout-data-block-background: $lightgray !default;

$message-background: $darkwhite !default;
