/*
  To use in stylesheet:

  Desktop only
  @include breakpoint(lg-only) {}

  Desktop and Tablet
  @include breakpoint(lg-md) {}

  Tablet only
  @include breakpoint(md-only) {}

  Everything but Desktop
  @include breakpoint(md-sm-xs) {}

  Large/Medium Phone only
  @include breakpoint(sm-only) {}

  All Phones
  @include breakpoint(sm-xs) {}

  Small Phones only
  @include breakpoint(xs-only) {}
*/

$screen-lg-min: 70em;
$screen-md-max: 69.999em;
$screen-md-min: 55em;
$screen-sm-max: 54.999em;
$screen-sm-min: 37.5em;
$screen-xs-max: 37.499em;

@mixin breakpoint($point) {
  @if $point == lg-only { /* Desktop only */
    @media (min-width: $screen-lg-min) {
      @content;
    }
  } @else if $point == lg-md { /* Desktop and tablet only */
    @media (min-width: $screen-md-min) {
      @content;
    }
  } @else if $point == md-only { /* Tablet only */
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $point == md-sm-xs { /* Everything but desktop */
    @media (max-width: $screen-md-max) {
      @content;
    }
  } @else if $point == sm-only { /* Large/Medium Phone only */
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @content;
    }
  } @else if $point == sm-xs { /* Only phones */
    @media (max-width: $screen-sm-max) {
      @content;
    }
  }  @else if $point == xs-only { /* Small phones only */
    @media (max-width: $screen-xs-max) {
      @content;
    }
  }
}
