/**
  Throw any style mixins in here
*/

@mixin clearfix {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}

@mixin hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
